<h1 class="text-center">Profile from Github</h1>
<div class="conteiner-fluid d-flex flex-column align-items-center">
<h2>Bienvenido</h2>
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{userData.firstName}}</h5>
            <p class="card-text">{{userData.lastName}}</p>
            <p class="card-text">Email : {{userData.email}}</p>
        </div>
    </div>
<div id="conteinerCart" class="d-flex justify-content-center p-4">
    <a href='/views/products' class="btn btn-lg btn-outline-primary">
        <h4 class="text-center">Productos</h4>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/></svg>
    </a>  
</div>